

C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Microsoft Visual Studio 2008

Visual studio update 2008 to 2019
---------------------------------

https://bitbucket.grundfos.com/projects/FIELDBUS/repos/cim_ciu200_modbus_rtu/commits/b94d63eb6c7123bd070cff4fa32ac6de221b01fd#deps.gradle                      